nav {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
}

a {
    color: white;
    font-size: 1.5em;
    padding: 25px;
}
/*Pseudo-classes require some interaction by the user in order for the style to be applied. For example, with the :hover pseudo-class the styles will only be applied 
if the user is hovering their mouse pointer over the element.*/
a:hover {
    background-color: white;
    color: steelblue;
}
body {
    margin: 0
}
/* Text-align center will center the content of its container.*/
h1 {
    margin: 50px 0;
    text-align: center;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}

/*We didn't have to put display: block because p elements are already block-level elements.
If we want to also center the content of the container, we could add a text-align: center as well and the paragraph would center inside the container as well.*/
main p {
    width: 80%;
    margin:50px auto;
    text-align: center;
}


/*Selectors are patterns used in CSS to select the elements you want to style. There are number of different ways to select elements.*/
/*We could give one of them a class or ID as well and target that, but let's use a descendant selector instead.
We can write our selector with the parent element first and then the child (or descendant next).*/

footer {
    text-align: center;
    background-color: steelblue;
    color: white;  
    padding: 10px;  
}

footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
}
