@import url('https://fonts.googleapis.com/css2?family=Comme:wght@200&family=Lora&family=Roboto&family=Roboto+Slab&display=swap');


.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
}

img{
    width: 100%;
    margin: 0;
    align-self: right;
    padding-left:80px;
    grid-column: 1/2;
 
}

div p{
    width: 100%;
    margin: 0;
    background-color:grey;
    grid-column: 2/3;
    text-align: center;
    padding-top: 450px;
    color: rgb(175, 8, 5);
    font-family: Arial, 'Arial Narrow Bold', Impact ;
    font-size: 9em;
    
}
h1 {

    width: 100%; 
    height: 100%; 
    margin: 0;
    grid-column: 1/3;
    z-index: 1;
    text-align: center;
    justify-items: center;
    color: #000;
    font-family: sans-serif, Helvetica, Arial  ;
    font-size: 10em
}

h1.relative {
    position: relative;
    top:10 px;
} 

footer{
    color: #000;
    text-align: center;
    font-family:sans-serif, Helvetica, Arial  ;
    font-size: 3em;

}

