@import url('https://fonts.googleapis.com/css2?family=Comme:wght@200&family=Lora&family=Roboto&family=Roboto+Slab&family=Vollkorn&display=swap');

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #fff;
}

main img{
    margin:0;
    width: 100%; 
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.cherry {
    margin:0;
    width: 100%; 
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color:grey;
}

main div p {
    width: 50%; 
    font-family: "Vollkorn", Times, serif ;
    font-size: 28em;
    color: rgb(175, 8, 5);
    position:absolute;
    bottom: 0;
    display: inline-block;
    text-align: center;
    /* align-self: stretch; */
    /* border: #000 solid; */

}

main h1 {
    width: 100%; 
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    text-align: center;
    color: #000;
    font-family: 'Times New Roman', Times, serif  ;
    font-size: 50em
}


footer{
    color: #000;
    text-align: center;
    font-family:Arial ,sans-serif, Helvetica  ;
    font-size: 5em;

}

